form {
    background: linear-gradient(purple,skyblue,lightgreen,pink,red,yellow);
}

.col-form-label {
    font-weight: bold;
    font-size: 20px;
}

.form-control {
    border: 1px solid black !important;
}



